.about-page {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  width: 100%;

  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.right-section {
  flex: 7;
  background: black;
  padding: 16px;
}

/* Mobile (ex: under 768px) */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }

  .profile-section,
  .right-section {
    width: 100%;
  }
}
.about-history {
  text-align: left;
}
