.contact-page {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  width: 100%;

  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.profile-section {
  flex: 3;
  background: #2f29cd;
  padding: 16px;
}

.right-section {
  flex: 7;
  background: #9a2121;
  padding: 16px;
}

/* Mobile (ex: under 768px) */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .profile-section,
  .right-section {
    width: 100%;
  }
}
