.menu-section {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;

  height: 50vh;
}
.menu-table {
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}
.menu-table thead tr {
  border-bottom: 2px dashed white;
  font-size: large;
}
.gallery-section {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;

  height: 50vh;
}
.gallery-scroll {
  display: flex;
  gap: 16px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.gallery-scroll::-webkit-scrollbar {
  display: none;
}
.gallery-card {
  flex: 0 0 auto;
  width: 400px;
  box-shadow: 1px 4px 20px rgba(255, 255, 255, 0.3);
}

.gallery-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
