.menu-page {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}
.menu-table {
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}
.menu-table thead tr {
  border-bottom: 2px dashed white;
  font-size: large;
}
