.cart-page {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;

  height: 50vh;

  min-height: calc(100vh - 100px);
}

.cart-order {
  background: orange;
  color: white;
  text-decoration: none;

  border-radius: 999px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.4px;
  transition: 1s ease;
  display: inline-block;
  width: 30%;
  padding: 10px 18px;
}
.cart-order:hover {
  color: black;
}
