.cart-section {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3rem;
}
.cart-table {
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}
.cart-table thead th {
  border-bottom: 2px dashed white;
  font-size: large;
}
.cart-table th:first-child,
.cart-table td:first-child {
  padding-right: 30px;
}

.cart-total {
  padding-top: 30px;
  text-align: right;
  font-weight: 700;
}

/* for Mobile */
@media (max-width: 768px) {
  .cart-total {
    text-align: center;
  }
}
