.cart-section {
  background: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3rem;
}
.cart-table {
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}
.cart-table thead tr {
  border-bottom: 2px dashed white;
  font-size: large;
}
