/* Header.css */
.header {
  background-color: black;
  padding: 4px 20px;
}
.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.left {
  flex: 1;
  display: flex;
  color: white;
  font-weight: 600;
}
.logo {
  width: 100px;
  height: 50px;
  background-size: 200px auto;
  background-position: center;
}

.mid {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.hamburger {
  display: none; /* 기본은 숨김 */
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}
.mid ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mid li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mid a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.mid a:hover {
  color: orange;
}

/*Right side*/
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 16px;
}

/* icon Button */
.icon-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.icon-btn:hover {
  opacity: 0.5;
}
/* order Button */
.order {
  background: orange;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.4px;
  transition: 0.2s ease;
  margin-left: 10px;
  transition: 1s ease;
}
.order:hover {
  color: black;
}

/* for Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* 모바일에서만 보이기 */
  }

  .mid {
    display: none; /* 기본 숨김 */
    position: absolute;
    top: 60px; /* header 아래 */

    width: 100%;
    background: black;
    flex-direction: column;
    padding: 20px;
  }

  .mid.open {
    display: flex; /* 햄버거 버튼 클릭 시 나타남 */
  }

  .mid ul {
    flex-direction: column;
    gap: 16px;
  }

  .mid a {
    font-size: 18px;
    color: white;
  }
}
