.profile-section {
  flex: 3;
  background: black;
}
.about-logo {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.about-info {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .about-info {
    padding: 0 1rem;

    text-align: center; /* 모바일에서는 중앙 정렬로 깔끔하게 */
  }
}
