.profile-section {
  flex: 3;
  background: black;
}
.about-logo {
  width: 100%;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.about-info {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0 1rem 0 1rem;
  transition: all 1s ease-in-out;

  transform: translateX(0rem);
}

@media (max-width: 768px) {
  .about-info {
    text-align: center;
    padding: 0 2rem 0 1rem;
    transform: translateX(1rem);
  }
}
